<div class="row">
    <div class="col-md-12">
        <h1>Payment</h1>
        <div class="alert alert-warning" role="alert" ng-show="message">{{message}}</div>
        <button class="btn btn-info" type="button" ng-click="home()">
            Go to Products
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label for="name">Name:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="name" ng-model="paymentInfo.name">
        </div>

        <label for="name">Number:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="number" ng-model="paymentInfo.number">
        </div>

        <label for="expiration">Expiration:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="expiration" ng-model="paymentInfo.expiration">
        </div>

        <div class="input-group">
            <button class="btn btn-warning" type="button" ng-click="buy()">
                Send payment info
            </button>
        </div>

    </div>

</div>